
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/about.css" />
    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }
    </style>
    <script src="/static/js/abouts.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div class="about">
      <div class="about-outline">
        <svg
          class="rectangle-1"
          width="1152"
          height="932"
          viewBox="0 0 1152 932"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g style="mix-blend-mode: darken" filter="url(#filter0_f_3_59)">
            <path d="M0 0H1152L1140 932H0V0Z" fill="#D2B48C" />
          </g>
          <defs>
            <filter
              id="filter0_f_3_59"
              x="-4"
              y="-4"
              width="1160"
              height="940"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="BackgroundImageFix"
                result="shape"
              />
              <feGaussianBlur
                stdDeviation="2"
                result="effect1_foregroundBlur_3_59"
              />
            </filter>
          </defs>
        </svg>
        <div class="about-frame">
          <div class="about2">
            About
            <br />
          </div>
          <div class="this-is-an-about-me-place-holder">
            This is an about me place holder
            <br />
          </div>
        </div>
      </div>
      <div class="nav-bar-grou-p">
        <div class="navigation-bar">
          <div class="frame-3">
            <img
              class="icons-8-door-sensor-alarmed-1"
              src="static/images/icons8-book.gif"
            />
          </div>
          <div class="frame-6">
            <img class="icons-8-book-1" src="static/images/icons8-door-sensor-alarmed.gif" />
          </div>
          <div class="frame-7">
            <img
              class="icons-8-medium-risk-1"
              src="static/images/icons8-medium-risk.gif"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
