
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/css/help.css" />


    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }
    </style>
    <script src="/static/js/help.js" defer></script>

    <title>Document</title>
  </head>
  <body>
    <div class="help">
      <div class="frame-9">
        <div class="frame-8">
          <div class="help2">Help</div>
          <video class="video-help" width="640" height="360" controls autoplay>
              <source src="static/videos/videoplayback2.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
        </div>
      </div>
      <div class="nav-bar-grou-p">
        <div class="navigation-bar">
          <div class="frame-3">
            <img
              class="icons-8-door-sensor-alarmed-1"
              src="static/images/icons8-book.gif"
            />
          </div>
          <div class="frame-6">
            <img class="icons-8-book-1" src="static/images/icons8-door-sensor-alarmed.gif" />
          </div>
          <div class="frame-7">
            <img
              class="icons-8-medium-risk-1"
              src="static/images/icons8-medium-risk.gif"
            />
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
