<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }
    </style>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="/static/js/main.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="main-page-outline">
        <div class="graph-frame">
          <div class="book-value-share">
           Low Price Over Month For EGLE
          </div>
          <div class="book-value">
           High Price Over Month For EGLE
          </div>
          <div class="divident-percentage">
           Volume Over Month For EGLE
          </div>
          <div class="pe-ratio">
              Close Price Over Month For EGLE
          </div>
          <div class="dividend-growth">
            Open Price Over Month For EGLE
          </div>
        </div>
      </div>
      <div class="nav-bar-grou-p">
        <div class="navigation-bar">
          <div class="frame-3">
            <img
              class="icons-8-door-sensor-alarmed-1"
              src="static/images/icons8-book.gif"
            />
          </div>
          <div class="frame-6">
            <img class="icons-8-book-1" src="static/images/icons8-door-sensor-alarmed.gif" />
          </div>
          <div class="frame-7">
            <img
              class="icons-8-medium-risk-1"
              src="static/images/icons8-medium-risk.gif"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
