.home-app {
    background-color: gray;
    width: auto;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    justify-content: center;
}
