<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to DRC Hack - Empowering Innovation">
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/4325/4325956.png">
    <link rel="stylesheet" href="../static/styles.css">
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.0.54/build/spline-viewer.js"></script>

    <title>Hestia - Official Website</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Hestia</h1>
            <p></p>
            <a href="/dividend" class="signin-link">
                <button class="button-64" role="button"><span class="text">Get Started</span></button>
            </a>
        </div>
        <spline-viewer url="https://prod.spline.design/i1pd6nfAj0YIaHrJ/scene.splinecode"></spline-viewer>
    </div>
</body>
</html>